.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.color-bg {
    background-color: rgb(75,174,154);
    color:white;
}

.color {
    color: rgb(75,174,154);
}
.image{
    
    position: relative;
    right: 124px;
    height: 100vh;
    /* resize: cover; */
    display: block;
    
}
